{% extends 'AppCoder/buscadores/buscador.html' %}

{% block resultados %}
    <h3>Resultados para "{{ marca }}"!!!!!</h3>

    <h4>Productos</h4>
    {% if articulo.tipo == "producto" %}
        <ul>
            {% for articulo in articulos %}
                <li>{{ articulo.nombre }} - {{ articulo.marca }} - {{ articulo.precio }} - {{ articulo.foto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron productos.</p>
    {% endif %}

    <h4>Repuestos</h4>
    {% if articulo.tipo == "repuesto" %}
        <ul>
            {% for articulo in articulos %}
                <li>{{ articulo.nombre }} - {{ articulo.marca }} - {{ articulo.precio }} - {{ articulo.foto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron repuestos.</p>
    {% endif %}
    
{% endblock %}
