{% extends 'AppCoder/buscadores/buscador.html' %}

{% block resultados %}
    <h3>Resultados para "{{ marca }}"</h3>

    <h4>Productos</h4>
    {% if productos %}
        <ul>
            {% for producto in productos %}
                <li>{{ producto.nombre }} - {{ producto.marca }} - {{ producto.precio }} - {{ repuesto.foto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron productos.</p>
    {% endif %}

    <h4>Repuestos</h4>
    {% if repuestos %}
        <ul>
            {% for repuesto in repuestos %}
                <li>{{ repuesto.nombre }} - {{ repuesto.marca }} - {{ repuesto.precio }} - {{ repuesto.foto }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron repuestos.</p>
    {% endif %}
{% endblock %}
