{% extends 'AppCoder/padre.html' %}
{% block title %}Agregar Artículos{% endblock %}
{% block content %}


<div class="container py-5 bg-light">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h1 class="text-center mb-4">Agregar Productos y Repuestos</h1>
            <!-- Formularios -->


                <!-- Formulario Producto -->
                <div class="card shadow rounded border-0 mb-5">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Agregar productos</h2>
                        {% if mensaje_producto %}
                            <div class="alert alert-success">{{ mensaje_producto }}</div>
                        {% endif %}

                        <form method="POST">
                            {% csrf_token %}
                            {{ producto_form.as_table }}
                            <div class="d-grid">
                                <input type="submit" name="producto_submit" class="btn btn-primary" value="Agregar Producto">
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Formulario Repuestos -->

                <div class="card shadow rounded border-0 mb-5">
                    <div class="card-body">
                        <h2 class="text-center mb-4">Agregar Reouestos</h2>
                        {% if mensaje_repuesto %}
                            <div class="alert alert-success">{{ mensaje_repuesto }}</div>
                        {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        {{ repuesto_form.as_table }}
                        <div class="d-grid">
                            <input type="submit" name="repuesto_submit" class="btn btn-primary" value="Agregar Repuesto">
                        </div>
                    </form>
                    </div>
                </div>




{% endblock %}